.contacts {
    color: #101112;
    padding: 7% 3em 10px 3em;
  }
  
  .contacts h2 {
    font-size: 28px;
    padding-bottom: 40px;
    font-weight: 600;
  }

  .contacts p{
    padding-top: 15px;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .contact-item img {
    width: 24px; 
    height: 24px;
    margin-right: 12px; 
  }
  
  .contact-name {
    font-size: 18px;
    color: #101112;
  }
  